streamlit>=1.57.0
folium>=0.15.0
streamlit-folium>=0.27.2
pandas>=3.0.3
numpy>=1.24.0
streamlit-js-eval>=1.0.0
altair>=5.0.0
pytest>=9.0.3
pytest-cov>=7.1.0
mypy>=2.1.0
types-setuptools>=82.0.0.20260508
fastapi>=0.110.0
uvicorn>=0.47.0
